---
import type { HTMLAttributes } from "astro/types";
import { cn } from "@/lib/utils";

interface Props extends HTMLAttributes<"li"> {
  href?: string;
  class?: string;
}

const {
  href,
  class: className,
  ...rest
} = Astro.props;

const classes = cn(
  className
);

const Element = href ? "a" : "span";
---

<li class={classes} {...rest}>
  <Element href={href}>
    <slot />
  </Element>
</li>